<%- include('./../partials/header.ejs') %>

 

<%- include('./../partials/BootNav.ejs') %>


<head>
    
    <link rel="stylesheet" href="/css/bootstrap.css">

 

    <title>About Us</title>

 

    <style>

 

html, body {

 

  margin-top: 30px;

 

  padding: 0;

 

  background-color: #ffffff;

 

}

 header h1{
    padding-top: 30px;
 }

 

 

/* Style the header */

 

header {

 

  background-color: #f4f4f4;

 

  color: #fff;

 

  text-align: center;

 

  padding: 20px 0;

 

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

 

}

 

 

 

/* Style the main content */

 

main {

 

  padding: 20px;

 

}

 

 

 

h1{

 

    color: #000000;

 

}

 

 

 

section {

 

  margin-bottom: 20px;

 

}

 

 

 

section h2 {

 

  font-size: 24px;

 

  color: #6f6de4;

 

}

 

 

 

section p {

 

  color: #555;

 

}

 /* ########################################################################## */

 

 

 

    </style>

 

</head>

 

<body>

 

    <header>

 

        <h1>About Us</h1>

 

    </header>

 

 

 

    <main>

 

<section>

<div>

    <b> Welcome to P-Store: People's Store </b>

 

    At P-Store, we believe that shopping is more than just a transaction - it's a celebration of people and the power

    of community. Our journey began with a simple yet profound idea i.e., to create an E-Commerce platform that

    truly belongs to the people, and today, we proudly stand as the People's Store(P-Store).

</div>

</section>

 

<section>

<div>

    <b> For the People, By the People </b>

 

    P-Store isn't just a place to shop; it's a space where every product tells a story, and every purchase makes a

    difference. We're committed to showcasing a curated collection that not only meets your needs but also reflects

    the values and preferences of our incredible community.

</div>

</section>

 

<section>

<div>

    <b> The People Behind P-Store </b>

 

    We are a Team of 6 Members where we all act as Founder's and Employee's as well and with utmost passion, dedication

    and with a tireless working nature in order to foster a People's Friendly Store. P-Store is a labor of love powered

    by people who believe in the extraordinary power of ordinary moments.

 

    Meet the faces behind your favorite online destination:-

 

    <br>

    <br>

 

    <section>

 

        <h2>Chandrahas Balleda</h2>

        <p>Lead Technical Consultant</p>

        <p>Email: chandrahas@example.com</p>

 

    </section>

 


 

    <section>

 

        <h2>Pathulothu Meghana</h2>

        <p>Intern Consulting</p>

        <p>Email: meghana@example.com</p>

 

    </section>

 

    <section>

 

        <h2>Narani Srimani</h2>

        <p>Intern Consulting</p>

        <p>Email: srimani@example.com</p>

 

    </section>

 

    <section>

 

        <h2>Chennuri Sai Pranay</h2>

        <p>Intern Consulting</p>

        <p>Email: saipranay@example.com</p>

 

    </section>

 

    <section>

 

        <h2>Kothakotta Abhishek</h2>

        <p>Intern Consulting</p>

        <p>Email: abhishek@example.com</p>

 

    </section>

 

    <section>

 

        <h2>Seelam Pavani</h2>

        <p>Intern Consulting</p>

        <p>Email: pavani@example.com</p>

 

    </section>

</section>

 

 

<br><br><br>

 

 

</div>

<br>

 

<div>

    <b> Our Mission </b>

 

    At P-Store, we're on a mission to redefine the e-commerce experience. Every product you find here has been chosen

    with care, keeping in mind the diverse tastes and needs of our community. We're not just selling; we're creating a

    space where every person feels seen, heard, and valued.

 

   

</div>

<br>

 

<div>

    <b> People First Values </b>

 

    Our commitment to people goes beyond the virtual storefront. We believe in ethical practices, sustainability, and

    giving back to the community. With every purchase, you contribute to a movement that supports causes close to the

    hearts of the people we serve.

 

   

</div>

<br>

 

<div>

<b> Join the P-Store Family</b>

 

P-Store is more than a store; it's a community united by a love for quality, diversity, and people. Join us on this

journey, explore our handpicked selection, and be a part of a shopping experience that celebrates you - the heartbeat

of P-Store.

 

Thank you for being a part of the P-Store family.

 

Happy shopping, with love from the People's Store!

 

P-Store Team

 

 

 

</div>

</section>

</main>

 

    <footer>

 

        <%- include('./../partials/footer.ejs') %>
