<%- include('./../partials/header.ejs') %> 
<%- include('./../partials/BootNav.ejs') %> 

<title>Contact Us
  
    <link rel="stylesheet" href="/css/bootstrap.css">
  
</title>       
<body >
<div class="Locations">
<h1 style="text-align: center; display: flex;"> Locations </h1><br>
<h2 style="font-family: 'Times New Roman', Times, serif; color: black; margin-top:   50px;">Hyderabad</h2>
<br>

P-Store India Pvt.Ltd, Raidurg Village, <br>e
Serilingampally Mandal, ranga reddy Dist,<br>
Hyderabad-500032. INDIA.<br>
<br><br>
<h2 style="font-family: 'Times New Roman', Times, serif; color: black; margin-top: 50px;">Bangalore</h2>

<br>

P-Store India Private Limited, 1st Floor, Tower 3,<br>

SJR I Park, Hoodi Village, Krishnarajapuram,<br>

Bangalore, Karnataka, India 560066<br><br>


<i style="font-size:14px"  class="fa">&#xf095; (+91)78-8 785 9775</i>

<br><br>

<i style="font-size:14px" class="fa">&#xf0e0; Contact@PStore.in</i>

<br><br><br>

</div>



<!-- 

/*
<h2 style="font-family: 'Times New Roman', Times, serif; color: black;">**Bangalore</h2>
<br>
<address>
Survey Numbers 231, 232 and 233, Soukya Road, Samethanahalli Village,
Anugondanahalli Hobli,
Hoskote Taluk,
Bangalore-560067
<address>
<br><br><br>

<h2 style="font-family: 'Times New Roman', Times, serif; color: black;">**Maharashtra</h2>
<br>
<address>
Survey nos. 42/2, 42/3, 51/2, 51/3, 51/4, 51/5B 
(old survey no.51/5A+B),<br> 51/5A+6B, 51/5B+6A, 51/6, 57/17, 57/18,
in K-square Industrial Park,<br>Before Padgha Toll Naka, Nashik – Mumbai Highway, 
<br>After Pushkar Mela Hotel, Kurund village, Bhiwandi, Maharashtra – 421101
</address>
<br><br><br>

<h2 style="font-family: 'Times New Roman', Times, serif; color: black;">**Kolkata</h2>
<br>
<address>Instakart Services Private Limited, 
Stellar FC, L.R. Khatian NO.5820, 
J.L. NO.11,Mouza-Belumilki, <br>
Block- Serampore Uttarpara,P.S- SEerampore,
Gram Panchayat, PEeraapur, Hooghy (D)- 712223
</address>
<br><br><br>


<h2 style="font-family: 'Times New Roman', Times, serif; color: black;">**Haryana</h2>
<br>
<address>
Block C, Embassy Industrial Parks Private Limited, 
Village Pathredi, Tehsil -Manesar, Gurugram(D)
Haryana, INDIA- 122413

</address>
</div>
*/ -->

<footer>
<%- include('./../partials/footer.ejs') %> 