<%- include('./../partials/header.ejs') %>
<%- include('./../partials/BootNav.ejs') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
<title>FAQ</title>
<br>
<br>
<br>
        <body>
            <div>
                <h1 style="text-align: left"> Frequently Asked Questions... </h1><br>
                <h2>1. How can I track my order?</h2>
                <p>Answer: To track your order, log in to your account and go to the " My Orders" section. There, you can find the status and tracking information for your orders.</p>
                <br>
                <h2>2. What is your return policy?</h2>
                <p>Answer: We offer a hassle-free return policy. If you're not satisfied with your purchase, you can return it within 7 days for a full refund or exchange.</p>
                <br>
                <h2>3. What extra features that your application is providing?</h2>
                <p>"Sell" is the new feature we have added, which is helpful for users to sell their used products and share their details where customers can view and contact sellers via contact.</p>
                <br>
                <h2>4. How can I contact your customer support team for assistance?</h2>
                <p>Answer: Our customer support team is here to help. You can reach us through our Contact Us page, email us at [support@email.com], or call our dedicated support hotline at [phone number].</p>
                <br>
                <h2>5. How do I change my account password?</h2>
                <p> Answer: You can update your account password by logging in and visiting the "Account Settings" or "Profile" section. From there, you can change your password securely.</p>
                <br>
                <h2>6. What is your policy on product authenticity and quality</h2>
                <p>Answer: We guarantee the authenticity and quality of our products. If you have concerns about a product's authenticity, please contact our customer support team, and we will address them promptly.</p>
                <br>
                <h2>7. What is your policy on data privacy and security?</h2>
                <p>Answer: We take data privacy seriously. Our website is secured with encryption, and we adhere to strict privacy policies. You can learn more in our Privacy Policy.</p>
                <br>
                <h2>8. Do you have a mobile app for easier shopping on the go</h2>
                <p>Yes, we have a mobile app available for download on both iOS and Android devices. Enjoy a convenient shopping experience on your smartphone or tablet.</p>
                <br>
                <h2>9. Are the cosmetics products on your website cruelty-free and vegan?</h2>
                <p>Answer: We are committed to offering a range of cosmetics products that are cruelty-free and, in many cases, vegan. Look for specific product labels and descriptions for information on individual items.</p>
                <br>
                <h2>10. Is there a mobile-specific layout or design for an improved user experience?</h2>
                <p>Our mobile website is designed for optimal usability on smaller screens, offering a user-friendly layout for easy navigation.</p>
            
            </div>

            <%- include('./../partials/footer.ejs') %>